# Measuring the Gender Pay Gap with Blinder-Oaxaca Decompositions
---------
#### Chris Fong and Ronald Walker

Due May 9th at 5pm

Requirements:

1. It should involve the use of real data to explore a question of interest to you.

2. The data should be analyzed using figures/maps, summary tables as well as statistical methods introduced in Ec 140, 141 or C142. As a rough guide a good project will include 2-3 figures, 2-3 displays of summary or descriptive statistics (e.g., cross-tabs) and the presentation of estimation results from a small collection of econometric models (e.g., OLS or quantile regression fits with different conditioning variables).

3. The analysis and write-up should be done in Python using a Jupyter notebook (with all project narrative included in markdown cells). Code should be clearly commented. The write-up should explain the assumptions being invoked to justify the analysis and also include a discussion and interpretation of any results. A clear discussion of the limitations of the analysis and how it might be improved through further work should also be included.

4. group projects need to include a few paragraphs explaining each team members specific contributions

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

0 -- Background

1 -- Implementation and Interpretation of Blinder-Oaxaca

2 -- Data Collection and Cleaning

3 -- Application of Blinder-Oaxaca

## 0. Background

Motivation -- may merge w/ 1.

Relating to previous studies. Seeing how this measures up compared to other measures.

## 1. Implementation and Interpretation of Blinder-Oaxaca

`oaxaca` is ssc-able.

porting into python. building on top of `statsmodels`.

what the math behind it is.

what we hope to do with that.

how it measures pay gap.

## 2. Data

Where the data set is from.

How we plan to use it.

Any standardization and cleaning you did.

Any caveats.

Summary tables and statistics.

In [8]:
data = pd.read_csv('Brazil.csv')
print(data.shape)
data.head()

(5300079, 9)

  COUNTRY  PERWT  AGE  SEX  MARST  NATIVITY  EDATTAIN  EMPSTAT  INCTOT
0  Brazil  18.54   22    1      2         1         2        1  1000.0
1  Brazil  20.23   54    1      2         1         1        1   700.0
2  Brazil  20.23   44    2      2         1         1        1   419.0
3  Brazil  20.23   22    2      1         1         1        3   510.0
4  Brazil  20.23   26    2      1         1         3        1   650.0

In [13]:
data.groupby('SEX').count()

     COUNTRY    PERWT      AGE    MARST  NATIVITY  EDATTAIN  EMPSTAT   INCTOT
SEX
1    2770543  2770543  2770543  2770543   2770543   2770543  2770543  2770543
2    2529536  2529536  2529536  2529536   2529536   2529536  2529536  2529536

## 3. Application

For each country of interest:

Find current measure of pay gap inequality.

Regress log(wages) on gender and other variables (race, number of dependents, education, etc.) and control for role/industry, industry, neither.

Plot stacked bar chart of explained + unexplained.

Plot current measure of inequality vs unexplained proportion from B-O.